---
interface Props {
	commands: string[];
}

const { commands } = Astro.props;
---

<div class='w-full max-w-5xl mx-auto mt-12'>
	<div
		class='border border-zinc-800 rounded-xl shadow-lg p-6 text-zinc-300 font-mono text-sm md:text-base'>
		<pre
			class='w-full overflow-x-auto whitespace-pre-wrap break-words font-mono text-sm md:text-base'
			>{commands.join('\n')}</pre
		>
	</div>
</div>
