---
import Layout from '../modules/global/components/layouts/Layout.astro';
import LainOsFreeSection from '../modules/home/components/sections/LainOsFreeSection.astro';
import MainSection from '../modules/home/components/sections/MainSection.astro';
import MissionSections from '../modules/home/components/sections/MissionSections.astro';
import PassionSection from '../modules/home/components/sections/PassionSection.astro';
---

<Layout
	title='LainOS | Home'
	description='LainOS is a community-driven Linux project built by several developers from the global Serial Experiments Lain community who came together and decided it was time to do something about the execution of the LainOS concept and now project. It is derived from https://github.com/The-LainOS-Project'
	'>
	<main
		class='flex flex-col items-center justify-center text-center py-10 px-4'>
		<MainSection />
		<MissionSections />
		<PassionSection />
		<LainOsFreeSection />
	</main>
</Layout>
