---
import { DownloadIcon } from '@lucide/astro';
import { Image } from 'astro:assets';
import { PixelBlasPortal } from '../../../global/components/PixelBlast/PixelBlasPortal';
---

<section class='flex flex-col items-center gap-6 max-w-2xl relative'>
	<PixelBlasPortal client:load />

	<h1
		class='text-5xl md:text-8xl font-extrabold tracking-tight
				bg-gradient-to-r from-[#C5A58E] via-[#BB667B] to-[#A03B5E]
				bg-clip-text text-transparent drop-shadow-[0_0_10px_rgba(100,100,100,0.3)] hover:drop-shadow-[0_0_20px_rgba(150,100,150,0.5)] transition-all duration-500'>
		Lain OS
	</h1>

	<p
		class='text-sm md:text-xl text-zinc-200 leading-relaxed font-mono whitespace-pre-wrap'>
		Created under the guidance of Grayson Giles,{' '}<span class='text-zinc-100 font-semibold'>LainOS</span> is a community-driven Linux system built upon Arch — a fusion of technology,philosophy, and consciousness.Designed for developers, thinkers, and those who dare to peer beyond the screen. Privacy isn’t a feature here; it’s a foundation.<span class='inline-block w-2 h-5 bg-zinc-300 animate-pulse ml-1'></span>
	</p>

	<a
		href='/development/download'
		class='mt-4 px-6 py-3 bg-gradient-to-r from-[#C5A58E] via-[#BB667B] to-[#A03B5E] text-white font-semibold rounded-full shadow-lg hover:scale-105 transition-transform duration-300 inline-flex items-center gap-2'>
		<DownloadIcon />
		Download/Install
	</a>

	<Image
		src='/lain.webp'
		alt='Lain connected to the Wired'
		width={420}
		height={420}
		class='rounded-2xl border border-white/10 shadow-lg hover:scale-105 transition-transform duration-300 bg-[#0A0A0A]'
	/>
</section>
