---
import { Image } from 'astro:assets';
---

<section class='py-14 sm:py-20 flex flex-col items-center gap-12 relative'>
	<h2
		class='text-3xl md:text-4xl lg:text-5xl font-extrabold bg-gradient-to-r from-[#C5A58E] via-[#BB667B] to-[#A03B5E] bg-clip-text text-transparent drop-shadow-[0_0_10px_rgba(100,100,100,0.3)]'>
		&gt; Mission
	</h2>

	<p
		class='text-zinc-200 text-sm sm:text-lg lg:text-xl max-w-3xl text-center font-mono leading-relaxed'>
		Our mission is to create a lightweight, powerful, and user-friendly Linux
		experience that empowers developers, hackers, and tinkerers alike to
		explore, innovate, and collaborate within a vibrant community.
	</p>

	<div
		class='grid place-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10 w-full'>
		<Image
			src='/screen-1.webp'
			alt='Hyprland screen'
			width={400}
			height={300}
			class='rounded-xl border border-white/10 shadow-md transition-transform duration-300 transform group-hover:scale-105 object-cover h-full w-full'
		/>

		<Image
			src='/screen-2.webp'
			alt='Obenbox screen'
			width={400}
			height={300}
			class='rounded-xl border border-white/10 shadow-md transition-transform duration-300 transform group-hover:scale-105 object-cover h-full w-full'
		/>

		<Image
			src='/screen-3.webp'
			alt='Hyprland screen 2'
			width={400}
			height={300}
			class='rounded-xl border border-white/10 shadow-md transition-transform duration-300 transform group-hover:scale-105 object-cover h-full w-full col-span-1 md:col-span-2 lg:col-span-1'
		/>
	</div>
</section>
