---
import Layout from '../../../modules/global/components/layouts/Layout.astro';
---

<Layout
	title='LainOS | Get Involved'
	description='LainOS Communities'>
	<main class='py-10 px-4 max-w-4xl mx-auto'>
		<section class='flex flex-col items-center text-center gap-4'>
			<h1
				class='text-4xl md:text-5xl lg:text-6xl font-extrabold ont-extrabold tracking-tight bg-gradient-to-r from-[#C5A58E] via-[#BB667B] to-[#A03B5E] bg-clip-text text-transparent drop-shadow-[0_0_10px_rgba(100,100,100,0.3)] hover:drop-shadow-[0_0_20px_rgba(150,100,150,0.5)] transition-all duration-500'>
				LainOS Communities
			</h1>

			<p class='max-w-3xl leading-relaxed text-gray-300 text-lg'>
				<b class='text-[#BB667B]'>lainOS</b> is a community-driven Linux project
				built by several developers from the global <b
					>Serial Experiments Lain</b
				> community who came together and decided it was time to bring the original
				LainOS concept to life.<br /><br />
				The project aims to create a <b
					>light, useful, and powerful Linux distribution</b
				> based on Arch Linux — designed for developers, tinkerers, and hackers who
				share an admiration for the cyberpunk aesthetics and introspective philosophy
				of <b>Serial Experiments Lain</b> and similar works.
			</p>

			<p class='max-w-3xl leading-relaxed text-gray-300 text-lg'>
				In essence, lainOS is about <b>building a niche, tight-knit community</b
				> — by developers, for developers — that values experimentation, privacy,
				and collaboration.<br /><br />
				lainOS communities can be found at the <b>lower section</b> of each page
				on this site. The community is small but extremely welcoming and supportive.
				The <b class='text-[#BB667B]'>Matrix chat</b> is currently the most active
				and recommended place to engage with other members.
			</p>

			<p class='text-gray-400 mt-10 italic text-sm'>
				Whether you’re contributing code, helping with documentation, or simply
				hanging out — you’re part of the experiment. Let’s keep building the
				wired together.
			</p>
		</section>
	</main>
</Layout>
